@using tct_Magazina.Enums;

@model tct_Magazina.Models.Warehouse
@{
    ViewData["Title"] = "EditWarehouse";
}

<h2>Edit Warehouse</h2>

@using (Html.BeginForm("EditConfirm", "Warehouse", FormMethod.Post))
{
    @Html.HiddenFor(m => m.WarehouseId)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.DropDownListFor(m => m.Location, Html.GetEnumSelectList<WarehouseLocation>(), "Warehouse Location", new { @class = "form-control", placeholder = "Tirana" })
        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NoOfWorkers)
        @Html.TextBoxFor(m => m.NoOfWorkers, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoOfWorkers, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Area)
        @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })

    </div>



    <button type="submit" class="btn-primary"> Edit Warehouse</button>



}


