@using tct_Magazina.Models;
@model List<Sector>
@{
    ViewData["Title"] = "All Managers";
}

<h2>All Sectors</h2>


<button type="button" class="btn btn-default">@Html.ActionLink("Create", "CreateSector", "Sector")</button>

@if (Model.Any())
{
    <table class="table table-responsive">
        <thead>
            <tr class="info">
                <td> Name</td>
                <td> Description</td>
               
            </tr>

            
        </thead>


        <tbody>
            @foreach (Sector sector in Model)
            {
            <tr>

                <td>@sector.Name</td>
                <td>@sector.Description</td>
                <td type="button" class="btn btn-default success"> @Html.ActionLink("Edit", "EditSector", "Sector", new { @id = sector.SectorId })</td>

                <td type="button" class="btn btn-default danger"> @Html.ActionLink("Delete", "Delete", "Sector", new { @id = sector.SectorId })</td>
            </tr>

            }


        </tbody>





    </table>


}

else
{ <h1 class="text-center text-danger">There is no Sectors</h1>

}
