
@model Manager



<table class="table table-responsive">

    

    <tr>
        <td>@Model.Name.ToString()</td>
        <td>@Model.PhoneNumber</td>
        <td>
            @Model.email
        </td>

        <td>
            @Model.DateOfBirth.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Model.DateTimeModified

        </td>
    </tr>




</table>
