@model Warehouse



<table class="table table-responsive">

    <tr>
        <td>@Model.Name.ToString()</td>
        <td>@Model.Area</td>
        <td>@Model.Location</td>
        <td>@Model.NoOfWorkers</td>


        <td>
            @Model.DateTimeModified
        </td>


    </tr>
</table>
